@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.sectionContainer {
  margin: 60px auto;
}

.mainButton {
  background: #3671e9;
  border-radius: 32px;
  border: none;
  padding: 18px 24px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;

  svg {
    color: #3671e9;
    background-color: #fff;
    font-weight: bolder;
    padding: 4px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: 24px;
    transition: transform 0.2s ease-in-out;
  }

  &:hover {
    background: #2e5dd6;

    svg {
      transform: translateX(12px);
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #0d0d2b;
  }
}
@media screen and (max-width: 1450px) {
  .sectionContainer {
    padding: 0 64px;
  }
}

@media screen and (max-width: 1228px) {
  .mainButton {
      font-size: 14px;
      line-height: 150%;
  }
}

@media screen and (max-width: 768px) {
  .sectionContainer {
    margin: 30px auto;
    padding: 0 8px;
  }

  .mainButton {
    font-size: 12px;
    line-height: 150%;
  }
}
