.headerContainer {
  display: flex;
  justify-content: center;
}

.headerLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  .headerOffer {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 32px;
    padding: 4px 11px 4px 3px;

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.01em;
      color: #ffffff;
    }

    span {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.04em;
      text-transform: uppercase;

      background-color: #fff;
      color: #0d0d2b;
      padding: 4px 16px;
      border-radius: 32px;
      margin-right: 8px;
    }
  }

  .headerTitle {
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    color: #ffffff;
    max-width: 588px;
    margin: 24px 0;
  }

  .headerSubtitle {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #e0e0e0;
    max-width: 435px;
    margin-bottom: 32px;
  }

  .headerButton {
    background: #3671e9;
    border-radius: 32px;
    border: none;
    padding: 18px 24px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;

    svg {
      color: #3671e9;
      background-color: #fff;
      font-weight: bolder;
      padding: 4px;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      margin-left: 24px;
      transition: transform 0.2s ease-in-out;
    }

    &:hover {
      background: #2e5dd6;

      svg {
        transform: translateX(12px);
      }
    }
  }
}

@media screen and (max-width: 1228px) {
  .headerLeft {
    .headerTitle {
      font-size: 48px;
      line-height: 60px;
    }

    .headerSubtitle {
      font-size: 14px;
      line-height: 24px;
    }

    .headerButton {
      font-size: 14px;
      line-height: 150%;
    }
  }
}

@media screen and (max-width: 968px) {
  .headerContainer {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .headerLeft {
    align-items: center;
  }

  .headerRight {
    max-width: 70%;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .headerLeft {
    .headerTitle {
      font-size: 32px;
      line-height: 40px;
    }

    .headerSubtitle {
      font-size: 12px;
      line-height: 20px;
    }

    .headerButton {
      font-size: 12px;
      line-height: 150%;
    }
  }
}
