.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px auto;
  max-width: 1200px;
  align-self: center;

  .imgContainer {
    cursor: pointer;
  }
}

.navLinksContainer {
  display: flex;

  .navLinks {
    display: flex;
    align-items: center;

    ul {
      display: flex;

      li {
        margin-right: 32px;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.01em;
        color: #ffffff;

        &:hover {
          color: rgb(175, 183, 196);
        }
      }
    }
  }

  .navBtns {
    a {
      margin: 0 32px;
      cursor: pointer;
      font-weight: 500;
      font-size: 16px;
      color: #ffffff;
      &:hover {
        color: rgb(175, 183, 196);
      }
    }

    button {
      background: #3671e9;
      border-radius: 32px;
      border: none;
      padding: 14px 32px;
      margin-left: 24px;
      cursor: pointer;
      transition: background 0.2s ease-in-out;

      &:hover {
        background: #5483e0;
      }
    }
  }

  .burgerMenuBtn {
    display: none;
  }
}

.navMenu {
  position: absolute;
  background-color: #000a1d;
  padding: 1.5rem 2rem;
  border-radius: 8px;
  top: 90px;
  right: 82px;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  li {
    margin-bottom: 0.75rem;
    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 1350px) {
  .navContainer {
    padding: 0 0px;
    margin: 60px 64px;
  }
}

@media screen and (max-width: 1150px) {
  .navContainer {

    .navBtns {
      display: none;
    }

    .burgerMenuBtn {
      display: flex;
      align-self: center;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 680px) {
  .navContainer {
    margin: 30px auto;
    padding: 0 8px;

    justify-content: center;

    .imgContainer {
      display: none;
    }
  }

  .navLinksContainer {
    .navLinks {
      ul {
        flex-wrap: wrap;
        li {
          margin-right: 16px;
          font-size: 14px;
          line-height: 26px;
        }
      }
    }
  }
}
